* {
  font-family: 'Gill Sans';
}

body {
  margin: 0;
}

.logo {
  position: fixed;
  top: 30px;
  left: 30px;
  width: 56px;
  height: 56px;
  z-index: 10;
}

.container {
  width: 100%;
  height: 1260px;
  padding: 32px 0 32px 0;
  /* border: 2px solid red; */
  /* display: flex; */
  /* justify-content: center; */
  background-image: url(../img/Bg-decoration.png);
  background-size: contain;
  background-color: #f0f5f7;
  position: relative;
}

.container .content {
  height: 100%;
  width: 79%;
  /* border: 2px dashed blue; */
  display: flex;
  align-content: center;
  justify-content: space-around;
  flex-direction: column;
  margin: 0 auto;
}

.content .row {
  height: 33%;
  /* width: 100%; */
  padding: 8px;
  /* border: 2px solid green; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.content .row .card {
  height: 100%;
  width: 32%;
  margin: 4px 10px;
  /* border: 2px dashed pink; */
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 5px 5px 13px 0 rgba(168, 179, 188, 0.15);
  overflow: hidden;
}

.card .cover {
  width: 100%;
  height: 52%;
  /* background-color: yellowgreen; */
}

.card .cover img {
  max-width: 100%;
  max-height: 100%;
}

.card .app {
  height: 48%;
  /* width: 100%; */
  /* margin: 8px; */
  margin: 16px;
  margin-top: 16px;
  margin-right: 16px;
  margin-bottom: 16px;
  margin-left: 16px;
  /* overflow: hidden; */
  position: relative;
  display: flex;
  flex-direction: column;
}

.card .app .name {
  font-size: 24px;
  letter-spacing: 0.6px;
  text-align: left;
  color: #1e384f;
  width: 100%;
  margin-bottom: 7px;
}

.card .app .description {
  width: 100%;
  font-size: 16px;
  font-weight: 300;
  line-height: 20px;
  text-align: left;
  color: rgba(30, 56, 79, 0.7);
  margin-bottom: 8px;
}

.card .app .version {
  font-size: 16px;
  text-align: left;
  color: #72b420;
  position: absolute;
  bottom: 0px;
  left: 0px;
  padding-top: 10px;
  /* padding-bottom: 8px; */
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  align-content: center;
  border-top: solid 1px rgba(168, 186, 212, 0.34);
  /* border: 1px dotted brown; */
}

.card .app .version  img {
  width: 20px;
  height: 20px;
  margin-right: 9px;
}

.container .scroll-indicator {
  position: absolute;
  bottom: 44px;
  right: 36px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.scroll-indicator img {
  width: 24px;
  height: 60px;
  cursor: pointer;
}

.scroll-indicator span {
  font-size: 14px;
  font-weight: 300;
  color: #1e384f;
  cursor: pointer;
}

footer {
  height: 48px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-color: #1e384f;
}

footer span {
  font-size: 16px;
  text-align: center;
  color: #ffffff;
}
