.header {
  width: 100%;
  height: 556px;
  background-image: url('../../img/detail/mychat/bg-mychat.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
  position: relative;
  display: flex;
  justify-content: flex-end;
}

.header .content {
  box-sizing: border-box;
  margin-top: 84px;
  width: 100%;
  height: 472px;
  display: flex;
  flex-direction: row;
}

.half {
  width: 50%;
  height: 100%;
}

.mg-bottom-8 {
  margin-bottom: 8px;
}

.mg-bottom-26 {
  margin-bottom: 26px;
}

.header .content .hero {
  margin-left: 153px;
  background-image: url('../../img/detail/mychat/my-chat.png');
  background-size: auto 100%;
  background-repeat: no-repeat;
}

.header .content .logo-mychat {
  padding: 0px;
  height: 80px;
}

.header .content .name {
  font-size: 64px;
  font-weight: 600;
  letter-spacing: 2.1px;
  color: #ffffff;
}

.header .content .description {
  opacity: 0.5;
  font-size: 22px;
  font-weight: 100;
  letter-spacing: 0.3px;
  text-align: left;
  color: #ffffff;
  max-width: 505px;
}

.header .content .follow {
  font-size: 18px;
  text-align: left;
  color: #ffffff;
  align-items: center;
  display: flex;
  font-weight: 100;
}

.header .content .follow a {
  padding-left: 8px;
  width: 24px;
  height: 24px;
}

.header .content .app-link {
  display: flex;
}

.header .content .app-link button {
  width: 176px;
  height: 48px;
  border-radius: 100px;
  outline: none;
  margin-right: 16px;
  border: none;
  cursor: pointer;
}

#google-play {
  background-color: #1e384f;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

#apk {
  color: white;
  font-size: 18px;
  background-color: #ffbe00;
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}

#ic-download {
  height: 20px;
  width: 20px;
  background-image: url('../../img/icon/ic-download.png');
}

.container {
  width: 100%;
  box-sizing: border-box;
}

#overview .content {
  width: 100%;
  height: 445px;
  padding: 64px 0px;
  display: flex;
  background-color: #f0f5f7;
  background-image: url('../../img/Bg-decoration.png');
  background-repeat: no-repeat;
  background-size: cover;
}

#overview .content .text {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

#overview .wrapper {
  max-width: 485px;
}

#overview .title {
  font-size: 40px;
  font-weight: 600;
  color: black;
  margin-bottom: 16px;
}

#overview .body {
  opacity: 0.4;
  font-size: 20px;
  line-height: 1.4;
  text-align: left;
  color: #1e384f;
  font-weight: 300;
}

#overview .content .mockup {
  width: 50%;
  box-sizing: border-box;
  text-align: center;
}

.bg-grey {
  background-color: #f0f5f7;
}

#chatting {
  height: 445px;
}

#sticker {
  height: 475px;
}

#datting {
  height: 485px;
}

#feature .feature-group {
  width: 100%;
  padding: 64px 0px;
  display: flex;
}

#feature .mockup {
  width: 50%;
  box-sizing: border-box;
  align-items: center;
  display: flex;
  justify-content: center;
}

#feature .text {
  width: 50%;
  display: flex;
  justify-content: flex-start;
}

#feature .text-end {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

#feature .title {
  font-size: 30px;
  letter-spacing: -0.5px;
  color: #1e384f;
}

#feature .body {
  opacity: 0.7;
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
  text-align: left;
  color: #1e384f;
}

.maxwidth-chatting {
  max-width: 506px;
}

.maxwidth-datting {
  max-width: 530px;
}

.mg-bottom-16 {
  margin-bottom: 16px;
}

.mg-bottom-12 {
  margin-bottom: 12px;
}

.mg-left-32 {
  margin-left: 32px;
}

.center-vertical {
  align-items: center;
}

#update .content {
  width: 1010px;
  box-sizing: border-box;
  padding: 52px 0;
  margin: auto;
  display: flex;
}

#update .mockup {
  width: 35%;
}

#update .version-list {
  width: 65%;
  height: 100%;
  box-sizing: content-box;
  padding-left: 52px;
  border-left: 2px dashed #1e384f;
}

#update .title {
  font-size: 24px;
  font-weight: 600;
  letter-spacing: -0.4px;
  color: #1e384f;
}

#update .body {
  opacity: 0.7;
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
  color: #1e384f;
}

#update .version {
  margin-bottom: 40px;
  position: relative;
}
#update .version .title {
  margin-bottom: 8px;
}

.maxwidth-version {
  max-width: 530px;
}

#update .version:nth-child(odd):before {
  content: url('../../img/icon/ic-update-purple.png');
  position: absolute;
  left: -72px;
  top: 0;
}

#update .version:nth-child(even):before {
  content: url('../../img/icon/ic-update-black.png');
  position: absolute;
  left: -72px;
  top: 0;
}

.tab-button button.active {
  color: #99177e;
}

.tab-button button:hover {
  color: #99177e;
}

.tab-button div button.active {
  border-bottom: 4px solid #99177e;
}

ul.breadcrumb li a:hover {
  color: #99177e;
}
